source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit
nuget NUnit.Runners
nuget Nuget.CommandLine
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Data.SqlClient
nuget Insight.Database
nuget FluentValidation
nuget FSharp.Core ~> 3.1
nuget UnionArgParser
nuget Xbehave ~> 1.1
nuget xunit.runners ~> 2.0.0-beta5-build2785
nuget xunit.runner.visualstudio >= 0.99 prerelease
nuget FluentAssertions
nuget FakeItEasy
nuget FSharp.Core
nuget Insight.Database
nuget UnionArgParser
nuget Insight.Database
nuget FluentValidation
nuget TopShelf
nuget Autofac
nuget Microsoft.AspNet.WebApi.Owin ~> 5.2
nuget Microsoft.AspNet.WebApi.OwinSelfHost ~> 5.2
nuget TopShelf
nuget Microsoft.AspNet.WebApi.OwinSelfHost
nuget MahApps.Metro ~> 1.0
nuget MahApps.Metro.Resources
github fsharp/FAKE modules/Octokit/Octokit.fsx