<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SSISDB" connectionString="Data Source=localhost;Initial Catalog=SSISDB;Integrated Security=True" />
    <!--<add name="AdventureWorks2012" connectionString="Data Source=.;AttachDbFilename=|DataDirectory|\AdventureWorks2014_Data.mdf;Initial Catalog=AdventureWorks2012;Integrated Security=True" />-->
  </connectionStrings>
</configuration>
