<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SSISDB" 
         connectionString="Server=localhost; Database=SSISDB; Trusted_Connection=True;Asynchronous Processing=True;Application Name=SSISConsole;"/>
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>  
</configuration>